# Fichiers de données
*.dat
*.npy
*.npz

# Caches et fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
.conda/
data/

# Fichiers temporaires Jupyter Notebook
.ipynb_checkpoints/